<link rel="stylesheet" href="assets/css/nav.css">  
    <div class="footer-row">
      <div class="garden-college">
        <a href="https://gardenlaunion.cl/" target="_blank" class="footerLink">
          Gardenlaunion.cl
        </a>
      </div>
      <div class="social-icons">
        <a href="#" class="nav-link softHover"><i class="bi bi-facebook"></i>Facebook</a>
        <a href="#" class="nav-link softHover"><i class="bi bi-youtube"></i>Youtube</a>
        <a href="#" class="nav-link softHover"><i class="bi bi-instagram"></i>Instagram</a>
      </div>
      <span class="quote-author">"God's Garden, Refuge of Humanity"</span>
    </div>
